Package: festvox-sflpc16k
Version: 1.0.0
Section: non-free/sound
Priority: extra
Architecture: all
Depends: festival (>= 1.4.3-9)
Installed-Size: 4740
Maintainer: <packmaster@guadalinex.org>
Description: Female Spanish voice for Festival
 This is a diphone-based female Spanish voice for the Festival speech
 synthesis system. These original audio files were recorded by a professional voice
 talent  in a recording studio. 
 .
 This voice was developed by the Consejeria de Innovacion, Ciencia y Empresa
 of the Junta de Andalucia on a project awarded to MP Sistemas in
 collaboration with Intelligent Dialogue Systems (INDISYS).
 .
 The primary objective was to integrate a higher-quality diphone-based
 Spanish voice in Guadalinex v4.0,
 an Ubuntu-based Linux distribution promoted by the Government of Andalusia
 (Spain).
 See http://www.guadalinex.org for more information.
